header {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-image: url("./MaryAndMj.jpeg");
  background-size: cover;
}
.Header-Image {
  width: auto;
  height: 50%;
  margin-bottom: 0;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.TransclucentBackground {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
